@charset "UTF8";

body{
    background-color: rgb(102, 192, 236);
    font: normal 16px Arial;
    color: white;
}

h1{
    text-align: center;
    padding-bottom: 10px;
}

section{

    height: auto;
    width: 500px;
    
    color: black;
    box-shadow: 5px 5px 10px #00000063;

    margin: auto;
    border-radius: 10px;
    padding: 15px;
    background-color: white;

}

#msg{
    padding-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
}

div{
    text-align: center;
    background-color: rgba(250, 231, 203, 0.651);
    padding: 20px;
}

img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

footer{
    padding-top: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;

}